* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #C4C4C4;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}

@media (min-width: 1024px) {
  

  .desktop{
  
  display: block;
  
}

p{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container-fluid {
  width: 100%;
 
  background-color: #C4C4C4;
  position: relative;
}


.logo {
  font-weight: 600;
  font-size: 3.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

/* menu de navegación */
nav {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a.menu {
  padding: 3px 5px;
  font-weight: bold;
  font-size: 1.7rem;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  color: rgb(36, 36, 36);
  margin-right: 20px;
 
}



.menu:hover {
  background-color: #0a5592;
  border-radius: 70px;
  text-decoration: none;
  color: white;
  padding: 5px 13px;
  width: 140px;
  

}



.container-fluid .nueva {
  position: absolute;
  height: 85vh;
  right: 0%;
  top: 15%;
  z-index: 999;
}

.container-fluid .fondo-emp {
  position: absolute;
  height: 85vh;
  width: 550px;
  right: 1%;
  top: 15%;
}


.formulario{
  height: 730px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), #C4C4C4);
  background-repeat: no-repeat;
  background-size: 100% 30%; /* Solo el 30% inferior */
  background-position: bottom;
  display: flex;
}




.f1{
  background-image: url(img/im2.png);
  
  height: 730px;
  width: 400px;
}

.f2{
  width: 600px;
 
}

.tituloForm{
  font-weight: bold;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 50px;
 line-height: 70px;
  width: 500px;
  margin-left: 50px;
}

.parrafoForm{
  text-align: center;
  color:rgb(0, 0, 0);
  margin-left: 50px;

  width: 500px;
}

.fContacto{
  width: 500px;

  margin-left: 50px;
  margin-top: 20px;
}

input{
width: 500px;
height: 50px;
margin-bottom: 20px;
font-size: 20px;
padding-left: 10px;
}

.input2{
width: 500px;
height: 80px;
margin-bottom: 20px;
font-size: 20px;
padding-left: 10px; 
}


.enviarMensaje{
  background-color:#fc6023;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bolder;
  font-size: 18px;
  width: 180px;
  color: white;
  margin-left: 30%;
  margin-top: 10px;
  transition: transform 0.3s ease; /* Duración y suavidad de la transición */
}

.enviarMensaje:hover{
  background-color: #0a5592;
  transform: scale(1.1); /* Aumenta el tamaño un 10% al pasar el cursor */
}

.f3{
width: 400px;
background-image: url(img/im1.png);

}

.divisionBlan{
  height: 80px;
  background-image: url(img/fondoencabezado.png);
}

.produccionesPropias{
  background-color: #3a3a3a;
  height: 330px;
  width: 100%;
}

.produccionesEscritorio{
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: bold;
}



.textoProducciones{
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 20px 40px;
}

.verTodos{
  background-color: #3a3a3a;
  border: solid  #fc6023;
  border-radius: 20px;
  padding: 10px;
  font-weight: bolder;
  font-size: 18px;
  width: 140px;
  color: white;
  margin-left: 44%;
  margin-top: 10px;
  transition: transform 0.3s ease; /* Duración y suavidad de la transición */
}

.verTodos:hover{
  background-color:  #ff4800;
  color: white;
   transform: scale(1.1); /* Aumenta el tamaño un 10% al pasar el cursor */
}


.marca {
  text-decoration: none;
  color: black !important;
}

.masinfo {
  text-decoration: none;
}

/* WhatsApp icon */
.whatsapp_float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp_float img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.whatsapp_float img:hover {
  transform: scale(1.1);
}


.textoEscritorio{
  font-size: 23px;
}



.naranja{
  color:#fc6023
}

.blanco{
  color: white;
  font-size: 50px;
  text-align: center;
}



.bloqueMaxi{
  background-color: #C4C4C4;
  height: 1200px;
}

.bloque1m{
  /*background-color:#C4C4C4;*/
 background-image: url(img/fondobloque4.png);
 background-position: right;
 background-repeat: no-repeat;
  height: 400px;
  display: flex;
}

.bloqueImagen1{
  height:350px;
  width: 300px;
  background-image: url(img/bloqueImagen1.png);
  margin-left: 100px;
  margin-top: 24px;
}

.bloqueTexto1{
  font-size: 23px;
  width: 50%;
  margin-left: 30px;
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  
}

.textoDescriptivo{
  background-color: #dadada;
  padding: 10px;
  border-radius: 10px;
}

.bloque2m{
  background-color:#a7a7a7;
  background-image: url(img/fondobloque3.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
}

.bloqueImagen2{
  height:350px;
  width: 300px;
  background-image: url(img/bloqueImagen2.png);
  margin-left: 100px;
  margin-top: 24px;
}

.bloqueTexto2{
  font-size: 23px;
  width: 50%;
  margin-left: 150px;
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
}


.bloque3m{
 background-image: url(img/fondobloque4.png);
 background-position: right;
 background-repeat: no-repeat;
  height: 400px;
  display: flex;
}

.bloqueImagen3{
  height:350px;
  width: 300px;
  background-image: url(img/bloqueImagen3.png);
  margin-left: 100px;
  margin-top: 24px;
}

.bloqueTexto3{
  font-size: 23px;
  width: 50%;
  margin-left: 32px;
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
}

.subtitulodeBloque{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #0a5592;
  width: 280px;
  padding: 0 10px;
  color: white;
}

.colaboraciones{
  background-color: white;
  height: 380px;
}


.colaboracionesEscritorio{
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 40px 0 0 0;
}

.imagenescolab{

  display: flex;
  justify-content: center;
}

.colab{
  height: 150px;
  width: 150px;
  background-color: black;
  margin: 0 30px;
  margin-top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.canal{
  background-color:#fc6023;
  height: 600px;
}


.canalEscritorio{
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 50px 0 0 0;
}

.negro{
  color: black;
}

.youtube{
  display: flex;
  justify-content: center;
}


.imagenyoutube{
  margin: 30px 0 0 0;
  width: 800px;
  height: 400px;
  
  background-image: url(img/veteviendo.png);
}


.redesSocialesescritorio{
  height:250px;
  background-color: #0a5592;
}

.contenedorPrincipal{
  display: flex;
  
 
}

.textoparaRedes{
  
  width: 55%;
}

.textoTexto{
  margin: 50px 20px 0 20px;
  font-weight: bold;
  font-size: 30px;
  padding: 0 0 0 100px;

  margin-left: 50px;
 color: white;
}

.textoTexto2{
  margin: 0px 20px 50px 20px;
  
  font-size: 20px;
  padding: 0 0 0 100px;
 color: white;
  margin-left: 50px;
}



.redesSociales{
 
  
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column; /* clave para ponerlas una sobre otra */
  width: 40%;

}

.itemRed{
  height: 50px;
  background-color:#1591f7;
  padding: 5px;
  
  
}

.claseTiktok{
margin: 55px 0 30px 0;
display: flex;
align-items: center;
}

.elDiccionario{
  color: white;
  margin-left: 20px;
}

.claseInstagram{
  display: flex;
  align-items: center;
}

.piedePagina{
  background-color: #C4C4C4;
  height: 160px;
  text-align: center;
  padding: 30px 0 0 0;
}


  }




@media (max-width: 1023px) {
  .desktop{
    display: none;
  }
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/* VERSIÓN CELULAR */



@media (max-width: 600px) {
  .celulares {
    display: block; /* o flex, según necesites */
     overflow-x: hidden;
  }

 .menudeNavegacion{
  display: block;
  height: 50px;

  
 }

.navbar{
  height: 50px;
    background-color: #C4C4C4;
    width: 100% !important;
}

.navbar-brand{
  color: black;
  font-size: 20px;
  
}

.tituloCel{
  font-family: "Poppins", sans-serif;
  font-size:40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  
}

.subtituloCel{
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


.contactameCel{
  width: 130px;
  background-color: #0a5592;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px;
  border: none;
  margin-left: 20px;

}


/* Estilo base */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  transition: background-image 0.3s ease;
}

/* Estilo al hacer scroll */
.navbar.scrolled .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.offcanvas-title{
  font-size: 20px;
  color: white;
}

.offcanvas-body{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  
  font-weight: bold;
}

.offcanvas {
  background-image: url(img/fondoof.png);
 
  
}

.nav-link{
  color: white;
}

.fContacto{
  width: 340px;

  margin-left: 30px;
  margin-top: 20px;
}

input{
width: 340px;
height: 40px;
margin-bottom: 20px;
font-size: 17px;
padding-left: 10px;
}

.input2{
width: 340px;
height: 80px;
margin-bottom: 20px;
font-size: 20px;
padding-left: 10px; 
}


.enviarMensaje{
  background-color:#fc6023;
  border: none;
  border-radius: 18px;
  padding: 7px;
  font-weight: bolder;
  font-size: 16px;
  width: 150px;
  color: white;
  margin-left: 27%;
  margin-top: 10px;
 
}

.imagenesdeBase{
  height: 245px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9),  #C4C4C4) no-repeat;
  display: flex;
  justify-content: space-evenly;
}

.ib1{
width: 150px;
height: 245px;
background-image: url(img/ku.png);
background-size: contain;
}


.ib2{
width: 150px;
height: 245px;
background-image: url(img/kkk.png);
background-size: contain;
}


.produccionesCel{
  background-color: #3a3a3a;
  height: 265px;
}

.tituloProduccionCel{
font-weight: bold;
font-size: 23px;
text-align: center;

padding: 40px 0 0 0 ;
}

.naranja{
  color: #fc6023;
}

.blanco{
  color: white;
}




.parrafoproduCel{
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
}

.vertodosCel{
  width: 110px;
  background-color:#3a3a3a;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px;
  border: solid  #fc6023;
  margin-left: 36%;

}                                 

.divisionBlan{
  background-image: url(img/fondoencabezado.png);
  height: 30px;
  background-size: cover;
}

/* Animación */
@keyframes scrollMarcas {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


.redesCel{
  background-color: #0a5592;
  height: 225px;
}

.textoderedesCel{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 0 0;
}

.parrafodeCel{
  font-size: 15px;
  color: white;
  text-align: center;
}

.logoderedesCel{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

.imagenCel{
height: 40px;
background-color: #1591f7;
margin-right: 20px;
padding: 5px;
}


.piedepaginaCel{
 height: 100px;
 background-color: #C4C4C4;
 display: block;
 text-align: center;
}


.titulodePie{
  padding: 18px 0 1px 0;
  font-size: 20px;
  
}

.textodePie{
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}


.navbar.scrolled {
  background-color:#1b1b1b !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled .navbar-brand {
  color: white !important;
}


.navbar .navbar-brand {
  color:#1b1b1b;
  transition: color 0.3s ease;
}

}

@media (min-width: 601px) {
  .celulares {
    display: none;
  }
}





/* Estilos Responsivos */

